<h1>Pizzas</h1>
<div>
    <div>
        <div class="header"></div>

        <div class="cartTotal ">
            <strong>Total price</strong>
            <span class="cartTotalPrice">0.00</span>
        </div>
        <form action="/back" method="POST">
            <button type="submit">Back</button>
        </form>
    </div>
</div>